@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
body {
    margin:0;
    padding:0;
    height: 100vh;
    background-color:linear-gradient(120deg,rgb(131, 193, 212),rgb(185, 153, 221));
} 
 .signup-form {
    width:300px;
    padding:20px;
    top:50%;
    left:50%;
    text-align:center;
    background-image:url(background.jpg);
    position:absolute; 
    transform: translate(-50%,-50%);
    overflow:hidden 
  }
.signup-form h1 {
    margin-top: 100px;
    color: aliceblue;
    font-size: 40px; 
  }

.signup-form input {
    display: block;
    width: 100%;
    padding: 0 18px;
    height: 44px;
    text-align:center;
    box-sizing: border-box;
    border:none;

}
.txt {
   margin: 20px 0 ;
   border-radius: 6px;

}
.signup-btn{
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: rgb(42, 153, 197);
  color: rgb(250, 241, 240);
  border-radius: 45px;
  cursor: pointer;
  display:block;

}
.signup-btn:hover{ 
  transform: scale(0.96);
  background-color:rgb(250, 241, 240) ;
  color:rgb(42, 153, 197)
}
.signup-form a {
  text-decoration:none;
  color:rgb(92, 163, 175)
  display:block
  font-size: 14px
  padding: 10px }

.signup-form a:hover{
    color:rgb(223, 233, 236)
    
}
 input:focus{
   border-color: rgb(99, 131, 218);



 }